@import "./variables.scss";

@mixin wrapper {
  position: relative;
  width: 90vw;
  margin: 20px auto;
}

@mixin button {
  width: 100px;
  padding: 5px;
  font-size: $xs-fs;
  background-color: $color-two;
  color: $color-four;
  font-weight: 700;
  border: 2px solid $color-one;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: $color-five;
    border: 2px solid $color-six;
    color: $color-one;
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    width: 120px;
    font-size: $s-fs;
  }
}



@mixin validateMessage {
  margin-bottom: 20px;
  color: $text-warring-color;
  font-size: $xs-fs;
  font-weight: 700;
  text-align: center;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    font-size: $s-fs;
  }
}

@mixin inputViev {
  width: 50%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-two;
  color: $color-six;
  font-weight: 700;
  font-size: $s-fs;

  @media screen and (orientation: landscape) {
    width: 30%;
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    width: 20%;
  }
}