$color-one: #A270D7;
$color-two: #E684B4;
$color-three: #F6B4A6;
$color-four: #F0E3A1;
$color-five: #ABCB9A;
$color-six: #84AAF5;

$text-first-color: #fff;
$text-second-color: #000;
$text-warring-color: #e03202;


$xs-fs: 14px;
$s-fs: 16px;
$m-fs: 18px;
$l-fs: 20px;
$x-fs: 24px;
$xl-fs: 28px;

$radius: 3px;

$breakpoints: (x-small: 480px,
  small: 640px,
  medium: 800px,
  large: 1020px,
  x-large: 1280px,
);