@import "../../Styles/common.scss";

.wrapper {
    width: 90%;
    margin: 10px auto;

    .inside {
        width: 90%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
                height: 150px;

            }


        }
    }
}